

  
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 "id="exampleModalLabel">Criar nova sala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="create-room">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="">
                        <label for="inputEmail4" class="form-label">Nome da sala</label>
                        <input type="text" class="form-control" id="inputEmail4" name="title">
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button> -->
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>